<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167572023826-q4ia77jr8a4lk7rrb4vufd2p227knmin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167572023826-q4ia77jr8a4lk7rrb4vufd2p227knmin</string>
	<key>API_KEY</key>
	<string>AIzaSyCKAtG-UdV91N4O76DtpNyPFM3G1pntUzg</string>
	<key>GCM_SENDER_ID</key>
	<string>167572023826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.application.sample</string>
	<key>PROJECT_ID</key>
	<string>test-application-a5f84</string>
	<key>STORAGE_BUCKET</key>
	<string>test-application-a5f84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167572023826:ios:56ed47f36b90eec57786cb</string>
</dict>
</plist>